
<%- include('../partials/header') %>
<div id="slider2">
<img src="images/slide_page4.jpg" alt="" class="img">
<img src="images/colorized.gif" alt="" class="colorized">
<div class="txt1">our sermons</div>
</div>
</div>

<div class="top2">
<div class="slogan">
<div class="container">
<div class="row">
<div class="span9">
	<div class="txt1">However, each one of you also must love his wife as he loves himself, and the wife must respect her husband.</div>
	<div class="txt2">Ephesians 5:33</div>
</div>	
<div class="span3"><div class="txt3"><a href="https://paystack.com/pay/2v0lt7rjt4" class="join">Donate Now</a></div></div>
</div>	
</div>
</div>
</div>

<div id="content">
<div class="container">
<div class="row">
<div class="span4">
<div class="pad_left20 pad_right20">
	<h2>Sermons List</h2>

	<h5>Lorem ispum dolor sit amet</h5>
	<p>
		Integer lacinia, velit sit amet bibendum hendrerit, neque justo ornare urna, non sodales. Anunc nibh vel purus. In urna. Sed sodales, enim quis ultricies. gravida, mauris libero
	</p>
	<a href="#" class="button3">more</a>

	<div class="line2"></div>

	<h5>De lorem ispum</h5>
	<p>
		Integer lacinia, velit sit amet bibendum hendrerit, neque justo ornare urna, non sodales. Anunc nibh vel purus. In urna. Sed sodales, enim quis ultricies. gravida, mauris libero hendrerit lorem
	</p>
	<a href="#" class="button3">more</a>

	<div class="line2"></div>

	<h5>Comman nulla in pede</h5>
	<p>
		Integer lacinia, velit sit amet bibendum hendrerit, neque justo ornare urna, non sodales. Anunc nibh vel purus. In urna.
	</p>
	<a href="#" class="button3">more</a>

	

	

	


</div>
</div>
<div class="span8">
<div class="pad_right20">
	<h1>About Best Sermons</h1>
	
	<div class="thumb4">
		<div class="thumbnail clearfix">
			<figure class="img-circle">
				<img src="images/sermons01.jpg" alt="">
				<div class="caption2">
					<h5>
						Monty Brown
					</h5>
					<h6>
						pastor
					</h6>
				</div>
			</figure>
			<div class="caption">
				<h4>
					Nullam lacus sem, commodo nec, ultricies sed, euismod eget, nunc. Fusce vel quam. 
				</h4>
				<p>
					Integer lacinia, velit sit amet bibendum hendrerit, neque justo ornare urna, non sodales nunc nibh vel purus. In urna. Sed sodales, enim quis ultricies gravida, mauris libero hendrerit lorem, vel vulputate urna lacus quis mauris. Duis aliquam. Vivamus ac ligula. Cras et metus a ipsum suscipit aliquam. Morbi at justo. Nulla in pede id dui consectetuer vulputate.  Aliquam lobortis. Nunc dignissim pharetra urna. 
				</p>				
				<a href="#" class="button2">read more</a>
			</div>
		</div>
	</div>
	<div class="thumb4">
		<div class="thumbnail clearfix">
			<figure class="img-circle">
				<img src="images/sermons02.jpg" alt="">
				<div class="caption2">
					<h5>
						Peter Malkovich
					</h5>
					<h6>
						pastor
					</h6>
				</div>
			</figure>
			<div class="caption">
				<h4>
					Nullam lacus sem, commodo nec, ultricies sed, euismod eget, nunc. Fusce vel quam. 
				</h4>
				<p>
					Integer lacinia, velit sit amet bibendum hendrerit, neque justo ornare urna, non sodales nunc nibh vel purus. In urna. Sed sodales, enim quis ultricies gravida, mauris libero hendrerit lorem, vel vulputate urna lacus quis mauris. Duis aliquam. Vivamus ac ligula. Cras et metus a ipsum suscipit aliquam. Morbi at justo. Nulla in pede id dui consectetuer vulputate.  Aliquam lobortis. Nunc dignissim pharetra urna. 
				</p>				
				<a href="#" class="button2">read more</a>
			</div>
		</div>
	</div>

	

</div>	







</div>		

</div>	
</div>	
</div>

<%- include('../partials/footer') %>