
<%- include('../partials/header') %>
<div id="slider2">
<img src="images/slide_page2.jpg" alt="" class="img">
<img src="images/colorized.gif" alt="" class="colorized">
<div class="txt1">our community</div>
</div>
</div>

<div class="top2">
<div class="slogan">
<div class="container">
<div class="row">
<div class="span9">
	<div class="txt1">But love your enemies, do good to them, and lend to them without expecting to get anything back. Then your reward will be great, and you will be sons of the Most High, because he is kind to the ungrateful and wicked.</div>
	<div class="txt2">Luke 6:35</div>
</div>	
<div class="span3"><div class="txt3"><a href="https://paystack.com/pay/2v0lt7rjt4" class="join">Donate Now</a></div></div>
</div>	
</div>
</div>
</div>

<div id="content">
<div class="container">
<div class="row">
<div class="span12">
	<div class="pad_left20 pad_right20">
		<h1>About Our Community</h1>
		<div class="thumb2">
			<div class="thumbnail clearfix">
				<figure class="img-rounded"><img src="images/community01.jpg" alt=""></figure>
				<div class="caption">
					<h4>
						Nullam lacus sem, commodo nec, ultricies sed, euismod eget, nunc. Fusce vel quam. Donec aliquet magna eget massa. Fusce arcu.
					</h4>
					<p>
						Integer lacinia, velit sit amet bibendum hendrerit, neque justo ornare urna, non sodales nunc nibh vel purus. In urna. Sed sodales, enim quis ultricies gravida, mauris libero hendrerit lorem, vel vulputate urna lacus quis mauris. Duis aliquam. Vivamus ac ligula. Cras et metus a ipsum suscipit aliquam. Morbi at justo. Nulla in pede id dui consectetuer vulputate. Aliquam lobortis. Nunc dignissim pharetra urna. 
					</p>
					<a href="#" class="button2">read more</a>					
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="span6">
			<div class="pad_left20 pad_right20">
				<h2>Our choir</h2>

				<div class="thumb1">
					<div class="thumbnail clearfix">
						<figure class="img-circle"><img src="images/community02.jpg" alt=""></figure>
						<div class="caption">
							<h5>
								Commodo nec
							</h5>
							<p>
								Integer lacinia, velit sit amet bibendum hendrerit, neque justo ornare urna, non sodales. Anunc nibh vel purus. In urna. Sed sodales, enim quis ultricies. gravida, mauris libero hendrerit lorem
							</p>							
						</div>
					</div>
				</div>

				<br>

				<div class="thumb1">
					<div class="thumbnail clearfix">
						<figure class="img-circle"><img src="images/community03.jpg" alt=""></figure>
						<div class="caption">
							<h5>
								Commodo nec
							</h5>
							<p>
								Integer lacinia, velit sit amet bibendum hendrerit, neque justo ornare urna, non sodales. Anunc nibh vel purus. In urna. Sed sodales, enim quis ultricies. gravida, mauris libero hendrerit lorem
							</p>							
						</div>
					</div>
				</div>






			</div>			
		</div>
		<div class="span6">
			<div class="pad_right20">
				<h3>Bible Sources</h3>

				<h4>
					Integer lacinia, velit sit amet bibendum hendrerit, neque justo ornare urna, non sodales. Anunc nibh vel purus. In urna. Sed sodales, enim quis ultricies.
				</h4>
				<p>
					De ravida, mauris libero hendrerit lorem, vel vulputate urna lacus quis mauris. Duis aliquam. Vivamus ac ligula. Cras et metus a ipsum suscipit aliquam. Morbi at justo. Nulla in pede id dui consectetuer vulputate. Aliquam lobortis. Nunc dignissim pharetra urna. Mauris scelerisque augue eu felis. Nunc quam massa, mattis quis, hendrerit sed, mattis eu, est. Vivamus pretium metus ut nisl. Nullam aliquet mauris eu neque. Quisque consequat. Vestibulum hendrerit velit et est. Curabitur iaculis egestas orci. Nunc pellentesque mi ut ante. 
				</p>
				<p>
					Cras et metus a ipsum suscipit aliquam. Morbi at justo. Nulla in pede id dui consectetuer vulputate. Aliquam lobortis. Nunc dignissim pharetra urna. Mauris scelerisque augue eu felis. Nunc quam massa, mattis quis, hendrerit sed, mattis eu, est. Vivamus pretium metus ut nisl. Nullam aliquet mauris eu neque.
				</p>




			</div>			
		</div>
	</div>





</div>


	

</div>	
</div>	
</div>

<%- include('../partials/footer') %>