
<%- include('../partials/header') %>
<div id="slider2">
<img src="images/slide_page5.jpg" alt="" class="img">
<img src="images/colorized.gif" alt="" class="colorized">
<div class="txt1">our ministries</div>
</div>
</div>

<div class="top2">
<div class="slogan">
<div class="container">
<div class="row">
<div class="span9">
	<div class="txt1">'Love the Lord your God with all your heart and with all your soul and with all your mind.'  This is the first and greatest commandment.  And the second is like it: 'Love your neighbor as yourself.'</div>
	<div class="txt2">Matthew 22:37-39</div>
</div>	
<div class="span3"><div class="txt3"><a href="https://paystack.com/pay/2v0lt7rjt4" class="join">Donate Now</a></div></div>
</div>	
</div>
</div>
</div>

<div id="content">
<div class="container">
<div class="row">
<div class="span6">
<div class="pad_left20 pad_right20">
	<h1>Our Ministries</h1>

	<h4>
		Nullam lacus sem, commodo nec, ultricies sed, euismod eget, nunc. Fusce vel quam. 
	</h4>

	<p>
		Integer lacinia, velit sit amet bibendum hendrerit, neque justo ornare urna, non sodales nunc nibh vel purus. In urna. Sed sodales, enim quis ultricies gravida, mauris libero hendrerit lorem, vel vulputate urna lacus quis mauris. Duis aliquam. Vivamus ac ligula. Cras et metus a ipsum suscipit aliquam. Morbi at justo. Nulla in pede id dui consectetuer vulputate.  Aliquam lobortis. Nunc dignissim pharetra urna. 
	</p>

	<h4>
		Nullam lacus sem, commodo nec, ultricies sed, euismod eget, nunc. Fusce vel quam. 
	</h4>

	<p>
		Integer lacinia, velit sit amet bibendum hendrerit, neque justo ornare urna, non sodales nunc nibh vel purus. In urna. Sed sodales, enim quis ultricies gravida, mauris libero hendrerit lorem, vel vulputate urna lacus quis mauris. Duis aliquam. Vivamus ac ligula. Cras et metus a ipsum suscipit aliquam. Morbi at justo. Nulla in pede id dui consectetuer vulputate.  Aliquam lobortis. Nunc dignissim pharetra urna. 
	</p>

	<p>
		Integer lacinia, velit sit amet bibendum hendrerit, neque justo ornare urna, non sodales nunc nibh vel purus. In urna. Sed sodales, enim quis ultricies gravida, mauris libero hendrerit lorem, vel vulputate urna lacus quis mauris. Duis aliquam. Vivamus ac ligula. Cras et metus a ipsum suscipit aliquam. Morbi at justo. Nulla in pede id dui consectetuer vulputate.  Aliquam lobortis. Nunc dignissim pharetra urna. 
	</p>
	
	

	

</div>	







</div>		
<div class="span6">
<div class="pad_right20">
	<h2>What We do</h2>

	<div class="thumb5">
		<div class="thumbnail clearfix">
			<figure class="img-rounded"><img src="images/ministries01.jpg" alt=""></figure>
			<div class="caption">
				<h5>
					Lorem ispum dolor sit amet
				</h5>
				<p>
					Integer lacinia, velit sit amet bibendum hendrerit, neque justo ornare urna, non sodales. Anunc nibh vel purus. In urna. Sed sodales, enim quis ultricies. gravida, mauris libero
				</p>
				<a href="#" class="button3">more</a>		
			</div>
		</div>
	</div>

	<div class="thumb5">
		<div class="thumbnail clearfix">
			<figure class="img-rounded"><img src="images/ministries02.jpg" alt=""></figure>
			<div class="caption">
				<h5>
					De loorem ispum dolor sit amet
				</h5>
				<p>
					Integer lacinia, velit sit amet bibendum hendrerit, neque justo ornare urna, non sodales. Anunc nibh vel purus. In urna. Sed sodales, enim quis ultricies. gravida, mauris libero
				</p>
				<a href="#" class="button3">more</a>		
			</div>
		</div>
	</div>

	<div class="thumb5">
		<div class="thumbnail clearfix">
			<figure class="img-rounded"><img src="images/ministries03.jpg" alt=""></figure>
			<div class="caption">
				<h5>
					Commod em ispum dolor sit 
				</h5>
				<p>
					Integer lacinia, velit sit amet bibendum hendrerit, neque justo ornare urna, non sodales. Anunc nibh vel purus. In urna. Sed sodales, enim quis ultricies. gravida, mauris libero
				</p>
				<a href="#" class="button3">more</a>		
			</div>
		</div>
	</div>

	



</div>
</div>
</div>	
</div>	
</div>

<%- include('../partials/footer') %>